.form {
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .input {
    padding: 5px 10px;
    width: 400px;
    height: 25px;
    border-radius: 5px;

  }
  .button {
    margin-left: 10px;
    background-color: rgb(78, 87, 87);
    color: white;
    font-weight: bold;
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
    
  }
  .button:hover,
  .button:focus {
    background-color: rgb(31, 129, 47);
    color: black;
  }
  .icon {
    padding-left: 10px;
    margin-top: 5px;
  }