.navbar {
    background: rgb(47,48,58);
    background: linear-gradient(347deg, rgba(47,48,58,1) 42%, rgba(0,0,0,0.5691526610644257) 100%);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    padding: 20px;
    margin-bottom: 20px;
  }
  .nav_link {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-weight: 800;
    font-size: 24px;
  }
  .nav_link:hover,
  .nav_link:focus {
    color: rgb(237, 203, 53);
  }
  .icon {
    padding-right: 5px;
  }